
.DS_Store
.DS_Store
sam_learner_projects-master/_config.yml
sam_learner_projects-master/bower.json
sam_learner_projects-master/CNAME
sam_learner_projects-master/index.html
sam_learner_projects-master/main.js
sam_learner_projects-master/README.md
sam_learner_projects-master/style.css
sam_learner_projects-master/bower_components/jquery/.bower.json
sam_learner_projects-master/bower_components/jquery/AUTHORS.txt
sam_learner_projects-master/bower_components/jquery/bower.json
sam_learner_projects-master/bower_components/jquery/LICENSE.txt
sam_learner_projects-master/bower_components/jquery/README.md
sam_learner_projects-master/bower_components/jquery/dist/jquery.js
sam_learner_projects-master/bower_components/jquery/dist/jquery.min.js
sam_learner_projects-master/bower_components/jquery/dist/jquery.min.map
sam_learner_projects-master/bower_components/jquery/dist/jquery.slim.js
sam_learner_projects-master/bower_components/jquery/dist/jquery.slim.min.js
sam_learner_projects-master/bower_components/jquery/dist/jquery.slim.min.map
sam_learner_projects-master/bower_components/jquery/external/sizzle/LICENSE.txt
sam_learner_projects-master/bower_components/jquery/external/sizzle/dist/sizzle.js
sam_learner_projects-master/bower_components/jquery/external/sizzle/dist/sizzle.min.js
sam_learner_projects-master/bower_components/jquery/external/sizzle/dist/sizzle.min.map
sam_learner_projects-master/bower_components/jquery/src/ajax.js
sam_learner_projects-master/bower_components/jquery/src/attributes.js
sam_learner_projects-master/bower_components/jquery/src/callbacks.js
sam_learner_projects-master/bower_components/jquery/src/core.js
sam_learner_projects-master/bower_components/jquery/src/css.js
sam_learner_projects-master/bower_components/jquery/src/data.js
sam_learner_projects-master/bower_components/jquery/src/deferred.js
sam_learner_projects-master/bower_components/jquery/src/deprecated.js
sam_learner_projects-master/bower_components/jquery/src/dimensions.js
sam_learner_projects-master/bower_components/jquery/src/effects.js
sam_learner_projects-master/bower_components/jquery/src/event.js
sam_learner_projects-master/bower_components/jquery/src/jquery.js
sam_learner_projects-master/bower_components/jquery/src/manipulation.js
sam_learner_projects-master/bower_components/jquery/src/offset.js
sam_learner_projects-master/bower_components/jquery/src/queue.js
sam_learner_projects-master/bower_components/jquery/src/selector-native.js
sam_learner_projects-master/bower_components/jquery/src/selector-sizzle.js
sam_learner_projects-master/bower_components/jquery/src/selector.js
sam_learner_projects-master/bower_components/jquery/src/serialize.js
sam_learner_projects-master/bower_components/jquery/src/traversing.js
sam_learner_projects-master/bower_components/jquery/src/wrap.js
sam_learner_projects-master/bower_components/jquery/src/ajax/jsonp.js
sam_learner_projects-master/bower_components/jquery/src/ajax/load.js
sam_learner_projects-master/bower_components/jquery/src/ajax/script.js
sam_learner_projects-master/bower_components/jquery/src/ajax/xhr.js
sam_learner_projects-master/bower_components/jquery/src/ajax/var/location.js
sam_learner_projects-master/bower_components/jquery/src/ajax/var/nonce.js
sam_learner_projects-master/bower_components/jquery/src/ajax/var/rquery.js
sam_learner_projects-master/bower_components/jquery/src/attributes/attr.js
sam_learner_projects-master/bower_components/jquery/src/attributes/classes.js
sam_learner_projects-master/bower_components/jquery/src/attributes/prop.js
sam_learner_projects-master/bower_components/jquery/src/attributes/support.js
sam_learner_projects-master/bower_components/jquery/src/attributes/val.js
sam_learner_projects-master/bower_components/jquery/src/core/access.js
sam_learner_projects-master/bower_components/jquery/src/core/camelCase.js
sam_learner_projects-master/bower_components/jquery/src/core/DOMEval.js
sam_learner_projects-master/bower_components/jquery/src/core/init.js
sam_learner_projects-master/bower_components/jquery/src/core/isAttached.js
sam_learner_projects-master/bower_components/jquery/src/core/nodeName.js
sam_learner_projects-master/bower_components/jquery/src/core/parseHTML.js
sam_learner_projects-master/bower_components/jquery/src/core/parseXML.js
sam_learner_projects-master/bower_components/jquery/src/core/ready-no-deferred.js
sam_learner_projects-master/bower_components/jquery/src/core/ready.js
sam_learner_projects-master/bower_components/jquery/src/core/readyException.js
sam_learner_projects-master/bower_components/jquery/src/core/stripAndCollapse.js
sam_learner_projects-master/bower_components/jquery/src/core/support.js
sam_learner_projects-master/bower_components/jquery/src/core/toType.js
sam_learner_projects-master/bower_components/jquery/src/core/var/rsingleTag.js
sam_learner_projects-master/bower_components/jquery/src/css/addGetHookIf.js
sam_learner_projects-master/bower_components/jquery/src/css/adjustCSS.js
sam_learner_projects-master/bower_components/jquery/src/css/curCSS.js
sam_learner_projects-master/bower_components/jquery/src/css/finalPropName.js
sam_learner_projects-master/bower_components/jquery/src/css/hiddenVisibleSelectors.js
sam_learner_projects-master/bower_components/jquery/src/css/showHide.js
sam_learner_projects-master/bower_components/jquery/src/css/support.js
sam_learner_projects-master/bower_components/jquery/src/css/var/cssExpand.js
sam_learner_projects-master/bower_components/jquery/src/css/var/getStyles.js
sam_learner_projects-master/bower_components/jquery/src/css/var/isHiddenWithinTree.js
sam_learner_projects-master/bower_components/jquery/src/css/var/rboxStyle.js
sam_learner_projects-master/bower_components/jquery/src/css/var/rnumnonpx.js
sam_learner_projects-master/bower_components/jquery/src/css/var/swap.js
sam_learner_projects-master/bower_components/jquery/src/data/Data.js
sam_learner_projects-master/bower_components/jquery/src/data/var/acceptData.js
sam_learner_projects-master/bower_components/jquery/src/data/var/dataPriv.js
sam_learner_projects-master/bower_components/jquery/src/data/var/dataUser.js
sam_learner_projects-master/bower_components/jquery/src/deferred/exceptionHook.js
sam_learner_projects-master/bower_components/jquery/src/deprecated/ajax-event-alias.js
sam_learner_projects-master/bower_components/jquery/src/deprecated/event.js
sam_learner_projects-master/bower_components/jquery/src/effects/animatedSelector.js
sam_learner_projects-master/bower_components/jquery/src/effects/Tween.js
sam_learner_projects-master/bower_components/jquery/src/event/focusin.js
sam_learner_projects-master/bower_components/jquery/src/event/support.js
sam_learner_projects-master/bower_components/jquery/src/event/trigger.js
sam_learner_projects-master/bower_components/jquery/src/exports/amd.js
sam_learner_projects-master/bower_components/jquery/src/exports/global.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/_evalUrl.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/buildFragment.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/getAll.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/setGlobalEval.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/support.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/wrapMap.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/var/rscriptType.js
sam_learner_projects-master/bower_components/jquery/src/manipulation/var/rtagName.js
sam_learner_projects-master/bower_components/jquery/src/queue/delay.js
sam_learner_projects-master/bower_components/jquery/src/traversing/findFilter.js
sam_learner_projects-master/bower_components/jquery/src/traversing/var/dir.js
sam_learner_projects-master/bower_components/jquery/src/traversing/var/rneedsContext.js
sam_learner_projects-master/bower_components/jquery/src/traversing/var/siblings.js
sam_learner_projects-master/bower_components/jquery/src/var/arr.js
sam_learner_projects-master/bower_components/jquery/src/var/class2type.js
sam_learner_projects-master/bower_components/jquery/src/var/document.js
sam_learner_projects-master/bower_components/jquery/src/var/documentElement.js
sam_learner_projects-master/bower_components/jquery/src/var/flat.js
sam_learner_projects-master/bower_components/jquery/src/var/fnToString.js
sam_learner_projects-master/bower_components/jquery/src/var/getProto.js
sam_learner_projects-master/bower_components/jquery/src/var/hasOwn.js
sam_learner_projects-master/bower_components/jquery/src/var/indexOf.js
sam_learner_projects-master/bower_components/jquery/src/var/isFunction.js
sam_learner_projects-master/bower_components/jquery/src/var/isWindow.js
sam_learner_projects-master/bower_components/jquery/src/var/ObjectFunctionString.js
sam_learner_projects-master/bower_components/jquery/src/var/pnum.js
sam_learner_projects-master/bower_components/jquery/src/var/push.js
sam_learner_projects-master/bower_components/jquery/src/var/rcheckableType.js
sam_learner_projects-master/bower_components/jquery/src/var/rcssNum.js
sam_learner_projects-master/bower_components/jquery/src/var/rnothtmlwhite.js
sam_learner_projects-master/bower_components/jquery/src/var/slice.js
sam_learner_projects-master/bower_components/jquery/src/var/support.js
sam_learner_projects-master/bower_components/jquery/src/var/toString.js
sam_learner_projects-master/images/av_club_preview.png
sam_learner_projects-master/images/chicago-aid-map.png
sam_learner_projects-master/images/cleveland_evictions_preview.png
sam_learner_projects-master/images/donor_demographics_preview.png
sam_learner_projects-master/images/donor_overlap_preview.png
sam_learner_projects-master/images/email.svg
sam_learner_projects-master/images/github.svg
sam_learner_projects-master/images/letterboxd_preview.png
sam_learner_projects-master/images/linkedin.svg
sam_learner_projects-master/images/nba_origins_preview.png
sam_learner_projects-master/images/nba_player_movement_preview_basic_old.png
sam_learner_projects-master/images/nba_player_movement_preview_basic.png
sam_learner_projects-master/images/nba_player_movement_preview.png
sam_learner_projects-master/images/observable.png
sam_learner_projects-master/images/philly_police_complaints_preview.png
sam_learner_projects-master/images/pudding_philly_police_complaints_preview.png
sam_learner_projects-master/images/resume.svg
sam_learner_projects-master/images/twitter.svg
dev_notes.md
.DS_Store
projects/route_optimizer_capstone/pet_clinic_IS_project/apps/__init__.py
