body {
    font-family: 'Inter';
    background-color: #E5E4E2;
    position: relative;
    min-height: 100vh;
}

div.header {
    top: 0;
    margin-top: 25px;
    text-align: center;
}

div.header-name {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

div.subheader-name {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

div.container {
    position: absolute;
    /* max-width: 1252px; */
    text-align: center;
    width: 100%;
    margin: auto;
    padding: auto;
    padding-top: 116px;

}

div.container .contents {
    display: flex;
    justify-content: space-evenly;
}


div.container .contents div img.user-icon {
    width: 424px;
    height: 393px;
    border-radius: 188px;
}

div.container .contents div.author-bio {
    width: 752px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
}

div.container .work-contents {
    display: flex;
    justify-content: center;
    margin-bottom: 119px;
    /* flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto 0;                          changed 
    padding: 12px;
    width: 753px; */
}

div.container .work-contents .project-thumbnail {
    width: 199px;
    height: 187px; 
}

div.container .work-contents .project-info {
    width: 554px;
    text-align: left;
    margin-left: 31px;
    font-family: 'Lato';
}

div.container .work-contents .project-info .project-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

div.container .work-contents .project-info .project-date {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #939393;
    margin-bottom: 24px;
}

div.container .work-contents .project-info .project-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

div.container .work-contents .project-info .button-href {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 12px;
    gap: 10px;
}

div.container .work-contents .project-info .button-href .button {
    width: 73px;
    height: 20px;
    border-radius: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container .work-contents .project-info .button-href .button:hover {
    transform: scale(1.05)
}

div.container .work-contents .project-info .button-href .button a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.github-repo {
    background-color: #BF78CB;
    font-size: 10px;
    font-weight: 300px;
    line-height: 12px;
}

.blog-post {
    background-color: #4C60CC;
    font-size: 10px;
    font-weight: 300px;
    line-height: 12px;
}

.icon-size {
    height: 29px;
    margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 2px;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 40px;
    left: 3rem;
    line-height: 39px;
    position: fixed;
}

li.nav__link:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

a.nav-text {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

div.contents div.project-info {
    width: 523px;
    margin: auto;
}

/* a.project-link {

} */

/* a.active {
    color: currentColor;
} */